:vars {
    --foreground: #f4cdcd;
    --background: #080808;

    --shadow-color: #1f1f1f;
    --shadow-hover: #303030;

    --active: #c8a6a6;
    --focused: #eba0ac;
    --default: #5a4545;

    --shadow: #181825;
}