:vars {
    --foreground: #cdd4f4;
    --background: #080808;

    --shadow-color: #1f1f1f;
    --shadow-hover: #303030;

    --active: #a6a9c8;
    --focused: #a0abeb;
    --default: #45485a;

    --shadow: #181825;
}